<a href="https://colab.research.google.com/github/clothesstore024/Cloth-shop/blob/main/cloth_shop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/clothesstore024/Cloth-shop/main/cloth_shop.csv'
df = pd.read_csv(url, encoding='ISO-8859-1', delimiter=',')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [ ]:
df.head(5)

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [ ]:
df.head(20).hist(by='Clothing ID',column = 'Class Name')

array([[<AxesSubplot:title={'center':'0'}>,
        <AxesSubplot:title={'center':'1'}>,
        <AxesSubplot:title={'center':'2'}>, ...,
        <AxesSubplot:title={'center':'32'}>,
        <AxesSubplot:title={'center':'33'}>,
        <AxesSubplot:title={'center':'34'}>],
       [<AxesSubplot:title={'center':'35'}>,
        <AxesSubplot:title={'center':'36'}>,
        <AxesSubplot:title={'center':'37'}>, ...,
        <AxesSubplot:title={'center':'67'}>,
        <AxesSubplot:title={'center':'68'}>,
        <AxesSubplot:title={'center':'69'}>],
       [<AxesSubplot:title={'center':'70'}>,
        <AxesSubplot:title={'center':'71'}>,
        <AxesSubplot:title={'center':'72'}>, ...,
        <AxesSubplot:title={'center':'102'}>,
        <AxesSubplot:title={'center':'103'}>,
        <AxesSubplot:title={'center':'104'}>],
       ...,
       [<AxesSubplot:title={'center':'1120'}>,
        <AxesSubplot:title={'center':'1121'}>,
        <AxesSubplot:title={'center':'1122'}>, ...,
        <AxesSubplot:title={'center':'1152'}>,
        <AxesSubplot:title={'center':'1153'}>,
        <AxesSubplot:title={'center':'1154'}>],
       [<AxesSubplot:title={'center':'1155'}>,
        <AxesSubplot:title={'center':'1156'}>,
        <AxesSubplot:title={'center':'1157'}>, ...,
        <AxesSubplot:title={'center':'1187'}>,
        <AxesSubplot:title={'center':'1188'}>,
        <AxesSubplot:title={'center':'1189'}>],
       [<AxesSubplot:title={'center':'1190'}>,
        <AxesSubplot:title={'center':'1191'}>,
        <AxesSubplot:title={'center':'1192'}>, ..., <AxesSubplot:>,
        <AxesSubplot:>, <AxesSubplot:>]], dtype=object)

In [ ]:
df['Age'].mean()

In [ ]:
corr = df.corr()

In [ ]:
import seaborn as sns

In [ ]:
sns.heatmap(corr, annot=True)

In [ ]:
sns.pairplot(df.head(20)